In [1]:
# source https://www.nahuby.sk/tabulka_obdobia_rastu.php

In [2]:
import sys
!{sys.executable} -m pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/davidblanar/miniforge3/lib/python3.9/site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /Users/davidblanar/miniforge3/lib/python3.9/site-packages (from beautifulsoup4) (2.3.2.post1)

In [3]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [19]:
obj = {
    'id': [],
    'month': []
}

for i in range(1, 13):
    print('processing month', i)
    url = f"https://www.nahuby.sk/tabulka_obdobia_rastu.php?mode=&content=good&month={i}"
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    mushrooms = soup.find('div', id="mainContent").find_all('div', class_='grid_3')
    names = [item.find('a').text for item in mushrooms]
    for name in names:
        obj['id'].append(name)
        obj['month'].append(i)

processing month 1
processing month 2
processing month 3
processing month 4
processing month 5
processing month 6
processing month 7
processing month 8
processing month 9
processing month 10
processing month 11
processing month 12

In [20]:
df = pd.DataFrame(obj)
df

                      id  month
0      hliva ustricovitá      1
1     hľuzovka Borchiova      1
2        hľuzovka čierna      1
3        plamienka zimná      1
4         smeťovka zimná      1
...                  ...    ...
1597   strmulec nakopený     12
1598    strmulec parkový     12
1599   šťavnačka mrazová     12
1600   šupinačka menlivá     12
1601      uchovec bazový     12

[1602 rows x 2 columns]

In [24]:
aggregated = df[['id', 'month']].groupby('id').agg({'month': ['min', 'max']}).reset_index()
aggregated.columns = ['id', 'start', 'end']
aggregated

                        id  start  end
0          bedlička vlnatá      9   11
1      bedľa hustošupinatá      7   10
2             bedľa pýrivá      7   10
3          bedľa vyniknutá      7    9
4             bedľa vysoká      7   10
..                     ...    ...  ...
355       šťavnačka buková      8   10
356      šťavnačka mrazová     11   12
357   šťavnačka plávkovitá      6   11
358  šťavnačka smrekovcová     10   11
359     šťavnačka vláknitá      7   10

[360 rows x 3 columns]

In [25]:
aggregated.to_csv('./mushrooms.csv')