In [1]:
# source https://www.nahuby.sk/tabulka_obdobia_rastu.php

In [1]:
import sys
!{sys.executable} -m pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/davidblanar/miniforge3/lib/python3.9/site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /Users/davidblanar/miniforge3/lib/python3.9/site-packages (from beautifulsoup4) (2.3.2.post1)

In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [3]:
obj = {
    'id': [],
    'type': [],
    'month': []
}

for i in range(1, 13):
    print('processing month', i)
    url = f"https://www.nahuby.sk/tabulka_obdobia_rastu.php?mode=&content=all&month={i}"
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    mushrooms = soup.find('div', id="mainContent").find_all('div', class_='grid_3')
    arrays = []
    for m in mushrooms:
        brs = m.find_all('br')
        for br in brs:
            br.replace_with('\n')
        a = [s.strip() for s in m.text.split("\n") if s.strip() != '']
        if len(a) == 2:
            name = a[0]
            type_ = a[1]
        if len(a) == 3:
            name = a[0]
            type_ = a[2]
        if len(a) == 4:
            name = a[0]
            secondary_name = a[1]
            if name == '-':
                name = secondary_name
            type_ = a[3]

        obj['id'].append(name)
        obj['type'].append(type_)
        obj['month'].append(i)
    
len(obj['id'])

processing month 1
processing month 2
processing month 3
processing month 4
processing month 5
processing month 6
processing month 7
processing month 8
processing month 9
processing month 10
processing month 11
processing month 12

9552

In [6]:
types = {'vzácna huba', 'nejedlá huba', 'výborná jedlá huba', 'jedovatá huba', 'chránená huba'}

def transform_type(t):
    if t not in types:
        return 0
    if t == 'výborná jedlá huba' or t == 'jedlá huba':
        return 1
    return 0

df = pd.DataFrame(obj).drop_duplicates()
# df.drop_duplicates()
df['type'] = df['type'].str.lower()
df['edible'] = df['type'].apply(lambda x: transform_type(x))
df['id'] = df['id'].str.capitalize()
df = df[df['id'] != '-']
df

                            id          type  month  edible
0              Lilapila jurana   vzácna huba      1       0
1      Amphosoma atroolivaceum   vzácna huba      1       0
2      Hyalorbilia helicospora  nejedlá huba      1       0
3     Hyalorbilia subfusispora  nejedlá huba      1       0
4      Helicogonium orbiliarum  nejedlá huba      1       0
...                        ...           ...    ...     ...
9547     Xenazma veľkovýtrusná             -     12       0
9548                  Žezlovka   vzácna huba     12       0
9549          Žezlovka hmyzová  nejedlá huba     12       0
9550         Žezlovka mravcová   vzácna huba     12       0
9551          Žezlovka srnková  nejedlá huba     12       0

[9165 rows x 4 columns]

In [7]:
aggregated = df[['id', 'month', 'edible']].groupby(['id', 'edible']).agg({'month': ['min', 'max']}).reset_index()
aggregated.columns = ['id', 'edible', 'start', 'end']
aggregated = aggregated[['id', 'start', 'end', 'edible']]
aggregated['type'] = 3 # mushroom
aggregated

                           id  start  end  edible  type
0     Amphosoma atroolivaceum      1   12       0     3
1           Antrodiela buková      7   11       0     3
2      Antrodiela lopatkovitá      7   11       0     3
3          Antrodiela podobná      1   12       0     3
4     Antrodiela žltooranžová      7   11       0     3
...                       ...    ...  ...     ...   ...
1779   Žezlovka veľkovýtrusná      8   11       0     3
1780          Žilnačka belavá      6   11       0     3
1781     Žilnačka lindtnerova      6   11       0     3
1782        Žilnačka oranžová      8   11       0     3
1783      Žilnačka žltookrová      3   11       0     3

[1784 rows x 5 columns]

In [8]:
aggregated.to_csv('./mushrooms.csv')

In [9]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(aggregated[aggregated['edible'] == 1])

                              id  start  end  edible  type
59               Bedľa vyniknutá      7    9       1     3
60                  Bedľa vysoká      7   10       1     3
61      Bedľa vysoká čiernohnedá      8   10       1     3
191                 Hliva buková      4   11       1     3
192                 Hliva dubová      9   11       1     3
196            Hliva ustricovitá      1   12       1     3
265                 Hríb brezový      8   10       1     3
266                Hríb bronzový      5   10       1     3
267                  Hríb dubový      5   11       1     3
272                 Hríb hrabový      6   11       1     3
288                    Hríb siný      5   10       1     3
290                Hríb smrekový      8   11       1     3
291     Hríb smrekový kyjakovitý      6   11       1     3
292                 Hríb sosnový      5   11       1     3
298         Hríb zrnitohlúbikový      6   11       1     3
304            Hríbnik modrejúci      6   11       1     3
347              Hľuzovka belavá     10   12       1     3
348           Hľuzovka borchiova      1   12       1     3
350              Hľuzovka čierna      1   12       1     3
360          Jelenka poprehýbaná      7   11       1     3
421               Kozák belostný      6   10       1     3
423                Kozák brezový      6   11       1     3
424                 Kozák dubový      6   10       1     3
425                  Kozák hnedý      6    9       1     3
426                Kozák hrabový      6   10       1     3
427                Kozák osikový      6   11       1     3
428          Kozák osikový hnedý      6   10       1     3
429        Kozák rozličnofarebný      6   11       1     3
431             Kozák sivozelený      6   10       1     3
432               Kozák smrekový      6   11       1     3
433                Kozák sosnový      7   11       1     3
434               Kozák topoľový      8   10       1     3
435            Kozák červenejúci      7   10       1     3
436                 Kozák čierny      7   10       1     3
437         Kozák škoricovohnedý      8   10       1     3
438           Kozák žltooranžový      6   11       1     3
439             Kozák žltopórový      6    9       1     3
454               Kuriatko jedlé      5   11       1     3
455         Kuriatko lievikovité      8   12       1     3
457           Kuriatko žltohnedé      8   11       1     3
458               Kučierka veľká      8   10       1     3
500            Lievik trúbkovitý      8   11       1     3
572            Machovec obyčajný      6   10       1     3
574            Machovka obyčajná      8   11       1     3
587             Masliak obyčajný      5   11       1     3
589          Masliak smrekovcový      6   11       1     3
592               Masliak zrnitý      6   11       1     3
633      Muchotrávka červenkastá      6   11       1     3
728   Pavučinovec hladkovýtrusný      8   10       1     3
746        Pavučinovec inovaťový      7   11       1     3
958            Pečiarka benešova      9   10       1     3
960        Pečiarka dvojvýtrusná      5   11       1     3
962              Pečiarka hájová      6   11       1     3
964               Pečiarka lesná      7   11       1     3
965               Pečiarka letná      5    7       1     3
971            Pečiarka obrovská      7   10       1     3
972            Pečiarka obyčajná      5   11       1     3
973               Pečiarka ovčia      5   10       1     3
976               Pečiarka poľná      5   11       1     3
1005            Plávka bodkovaná      7   10       1     3
1009               Plávka buková      7    9       1     3
1014               Plávka dubová      7    8       1     3
1027         Plávka hnedočervená      6   10       1     3
1037      Plávka jahodovočervená      6    9       1     3
1038              Plávka jedľová      7   10       1     3
1050              Plávka lasičia      6    9       1     3
1059             Plávka mandľová      6   10       1     3
1066             Plávka modrastá      6   11       1     3
1073             Plávka obyčajná      6   11       1     3
1079              Plávka olivová      6    9       1     3
1098            Plávka romellova      7   10       1     3
1116             Plávka strakatá      5    9       1     3
1123         Plávka velenovského      7   10       1     3
1129          Plávka vínovohnedá      7   10       1     3
1131         Plávka vínovoružová      6   10       1     3
1139           Plávka zelenkastá      6   10       1     3
1140            Plávka zlatožltá      7    9       1     3
1147         Plávka červenobiela      6    9       1     3
1223       Prášnica bradavičnatá      6   11       1     3
1234       Pôvabnica dvojfarebná     10   12       1     3
1235           Pôvabnica fialová      9   12       1     3
1292               Rýdzik krvavý      9   11       1     3
1310                Rýdzik pravý      8   11       1     3
1322             Rýdzik smrekový      8   11       1     3
1323          Rýdzik surovičkový      6   10       1     3
1355             Sliziak lepkavý      7   11       1     3
1356             Sliziak mazľavý      7   11       1     3
1387             Smrčkovec český      3    4       1     3
1389       Smrčok hrubohlúbikový      4    5       1     3
1390             Smrčok hybridný      4    5       1     3
1391                Smrčok jedlý      4    5       1     3
1392           Smrčok kužeľovitý      3    4       1     3
1394               Smrčok vysoký      4    5       1     3
1446             Suchohríb hnedý      6   11       1     3
1451          Suchohríb plstnatý      6   10       1     3
1454      Suchohríb červenohnedý      6   10       1     3
1466             Tanečnica poľná      5   10       1     3
1503          Trúdnik klobúčkatý      6    9       1     3
1691                Čírovka sivá     10   11       1     3
1695            Čírovka topoľová      8   11       1     3
1704            Čírovnica májová      4    5       1     3
1740           Šupinačka menlivá      4   12       1     3
1766        Šťavnačka plávkovitá      6   11       1     3